.container
  %h2 New Comment

  %ul.error_messages
    - @comment.errors.full_messages.each do |message|
      %li.error_message= message

  = form_with(model: [ @board, @task, @comment ], local: true) do |f|
    %div
      = f.text_area :content, class: "no_margin"
    .actions
      = f.submit "Submit", class: "btn-primary"