.container
  %h2 All Boards
  %section.boards
    %ul.boards_list
      - @boards.each do |board|
        = render 'board', board: board

      %li.card_new
        = link_to '+ Add new board', new_board_path