// cardの基本型
@mixin card($background-color) {
  min-height: 160px;
  border-radius: 10px;
  background-color: $background-color;
}

li.card {
  margin-bottom: 26px;
  position: relative;
}

.card {

  &_link {
    @include card(#f4f4f4);
    display: block;
    padding: 30px 20px 20px;
  }

  &_link_new {
    @include card(unset);
    display: flex;
    border: 1px dashed #00000033;
    justify-content: center;
    align-items: center;
  }

  &_detail {
    &_title {
      font-size: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &_content {
      font-size: 14px;
      opacity: 0.4;
      margin-top: 6px;
    }
  }

  &_icon {
    margin-top: 30px;
    height: 30px;
  }

  &_edit {
    position: absolute;
    top: 30px;
    right: 20px;
  }
}

// only board
.boards_list .card_detail {
    width: calc(100% - 40px);
}

// only task
.card {

  &_img {
    margin-top: -10px;
    margin-bottom: 20px;
    height: 170px;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: inherit;
      object-fit:cover;
    }
  }

  &_detail_deadline {
    font-size: 14px;
    opacity: 0.4;
    margin-top: 15px;
    text-align: right;
  }

  &_item {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .card_icon {
      margin-top: 0;
    }

  }

  &_message {
    display: flex;
    align-items: center;
    gap: 2px;

    span{
      opacity: 0.2;
      font-size: 14px;
    }
    img {
      width: 20px;
      height: 20px;
    }
  }

}
