@mixin card($background-color) {
  min-height: 160px;
  border-radius: 10px;
  background-color: $background-color;
}

.card {
  @include card(#F4F4F4);
  padding: 30px 20px 20px;

  &_new {
    @include card(unset);
    border: 1px dashed #00000033;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_image {
    margin-top: -10px;
    margin-bottom: 20px;
    height: 170px;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: inherit;
      object-fit:cover;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
  }

  &_detail {
    &_title {
      font-size: 18px;
    }
    &_content {
      font-size: 14px;
      opacity: 0.4;
      margin-top: 6px;
    }
  }

  &_icon {
    margin-top: 30px;
    height: 30px;
      img {
          width: 30px;
          height: 30px;
      }
  }

  &_item {
    position: relative;
  }

  &_edit {
    img {
        width: 24px;
        height: 100%;
    }
  }

  &_message {
    
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 2px;

    span{
      opacity: 0.2;
      font-size: 14px;
    }
    img {
      width: 20px;
      height: 100%;
    }
  }
}

li + li {
    margin-top: 26px;
}