.comments {
  margin-top: 35px;

  &_list {
    margin-top: 25px;

    li + li {
      margin-top: 32px;
    }

    &_content {
      min-height: 40px;
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 16px;

      img {
        width: 40px;
        height: 100%;
      }

      p {
        margin: 0;
      }
    }
  }

  &_new {
    margin-top: 32px;

    .card_link_new {
      min-height: 57px;
    }
  }
}
