.dropdown {
  position: relative;
  display: inline-block;

  img {
    width: 40px;
    height: 40px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  min-width: 120px;
  padding: 10px;
  text-align: center;
}

.dropdown-content a {
  font-size: 12px;
}

.dropdown-content a:hover {
  opacity: 0.4;
}

.dropdown:hover .dropdown-content {
  display: block;
}