// dropdown
.dropdown {
  position: relative;
  display: inline-block;
  height: 40px;

  img.edit {
    width: 25px;
    height: 6px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  width: 140px;
  padding: 10px;
  text-align: center;
}

.mini {
  width: 66px;
  height: 66px;
  text-align-last: left;
  padding: 12px 15px;
}

.dropdown-content a {
  display: block;
  font-size: 12px;
}

.dropdown-content a:last-child {
  margin-top: 13px;
}

.dropdown-content a:hover {
  opacity: 0.4;
}

.dropdown:hover .dropdown-content {
  display: block;
}


// error_message
.error_messages {
  margin-top: 20px;
}

.error_message {
  opacity: 0.4;
  margin: 0;
}


// icon
.icon_large {
  object-fit: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.icon_small {
  object-fit: cover;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.icon_small + .icon_small {
  margin-right: -13px;
}

.group {
  display: flex;
  flex-direction: row-reverse;
}