.comments {
  margin-top: 35px;

  &_list {
    margin-top: 25px;

    &_content {
      min-height: 40px;
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 16px;
    }

    li + li {
      margin-top: 32px;
    }
  }
}

.comment_icon {
  width: 40px;
  height: 40px;
}

.comment_content p {
  margin: 0;
}

.comments_new {
  margin-top: 32px;
}

.card_link_new {
  min-height: 57px;
}