form {
  margin-top: 34px;
}

input {
  &.text {
  width: 100%;
  height: 40px;
  margin-top: 7px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f4f4f4;
  }

  &.image {
    margin-top: 7px;
  }
}

textarea {
  width: 100%;
  height: 200px;
  margin-top: 7px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f4f4f4;
}

label {
  font-size: 18px;
}

.field {
  &.password {
  margin-top: 33px;
  }

  &_description {
  margin-top: 33px;
  }

  &_image {
    margin-top: 20px;
  }
}

.actions {
  width: 100vw;
  padding: 30px;
  position: fixed;
  bottom: 0;
  left: 0;

  &.no_fixed {
    width: 100%;
    padding: 0;
    margin-top: 30px;
    position: static;
  }
}