form {
  margin-top: 34px;
}

input {
  &.text {
  width: 100%;
  height: 40px;
  margin-top: 7px;
  border: none;
  border-radius: 10px;
  background-color: #f4f4f4;
  }

  &.image {
    margin-top: 7px;
  }
}

textarea {
  width: 100%;
  height: 200px;
  margin-top: 7px;
  border: none;
  border-radius: 10px;
  background-color: #f4f4f4;

  &.no_margin {
    margin: 0;
  }
}

label {
  font-size: 18px;
}

.form_mt_normal {
  margin-top: 15px;
}

.form_mt_middle {
  margin-top: 25px;
}

.form_mt_large {
  margin-top: 33px;
}

.actions {
  width: 100vw;
  padding: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.optional {
  opacity: 0.4;
  font-size: 14px;
  margin-left: 7px;
}

.link_sign_up {
  margin-top: 15px;
  opacity: 0.5;
}