.task_top {
  display: flex;
  align-items: center;
  gap: 15px;

  &_back {
    width: 30px;
    height: 30px;
    opacity: 0.4;

    img {
      width: 30px;
      height: 30px;
    }
  }

  &_title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_edit {
    font-weight: normal;
    overflow-wrap: normal;
    margin-left: auto;
  }
}

.task_img {
  height: 170px;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: inherit;
    object-fit:cover;
  }
}

.task_content {
  margin-top: 35px;
  border-radius: 10px;
  background-color: #F4F4F4;
  padding: 20px 15px;
}

.task_deadline {
  margin-top: 20px;
  margin-right: 6px;
  text-align: right;
  opacity: 0.7;
}